* {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  h2 {
    text-align: center;
    font-size: 48px;
    color: black;
    position: absolute;
    left: 34%;
  }

  button {
    width: 110px;
  }
  
  .container {
    font-family: "Roboto", sans-serif;
    background-color: grey;
    padding: 20px 40px 40px;
    width: 300px;
    border-radius: 20px;
    margin-top: 50px;
    position: absolute;
    top: 30%;
    left: 38%;
  }
  
  .row {
    margin-top: 20px;
  }
  
  .form-group {
    font-size: 30px;
    color: black;
  }
  
  input {
    text-align: center;
    font-size: 18px;
  }
  